# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 24.11.3
ase=3.24.0=pypi_0
numpy=2.1.2=pypi_0
openmm=8.2.0=pypi_0
pytest=8.3.4=pypi_0
scipy=1.15.1=pypi_0
torch=2.6.0=pypi_0
torch-scatter=2.1.2=pypi_0
torchaudio=2.6.0=pypi_0
torchvision=0.21.0=pypi_0
